<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sammycristian20-001-site4.btempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://sammycristian20-001-site4.btempurl.com:8172/msdeploy.axd?site=sammycristian20-001-site4</MSDeployServiceURL>
    <DeployIisAppPath>sammycristian20-001-site4</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\sammycristian20-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5030.SmarterASP.NET;Initial Catalog=DB_9EB6C4_HomeCrudUsers;User ID=DB_9EB6C4_HomeCrudUsers_admin;Password=musica59" Name="Data Source=SQL5030.SmarterASP.NET;Initial Catalog=DB_9EB6C4_HomeCrudUsers;User Id=DB_9EB6C4_HomeCrudUsers_admin;MultipleActiveResultSets=true;Password=musica59;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="HomeCrud.Web.Models.ApplicationDbContext, HomeCrud.Web" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="HomeConnectionString" Order="2" Enabled="True">
          <Destination Path="Data Source=SQL5030.SmarterASP.NET;Initial Catalog=DB_9EB6C4_HomeCrudMain;User ID=DB_9EB6C4_HomeCrudMain_admin;Password=musica59" Name="Data Source=SQL5030.SmarterASP.NET;Initial Catalog=DB_9EB6C4_HomeCrudMain;User Id=DB_9EB6C4_HomeCrudMain_admin;MultipleActiveResultSets=true;Password=musica59;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="HomeCrud.DA.EntityFramework.DataBaseContext, HomeCrud.DA.EntityFramework" MigrationConfiguration="HomeCrud.DA.EntityFramework.Migrations.Configuration, HomeCrud.DA.EntityFramework" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL5030.SmarterASP.NET;Initial Catalog=DB_9EB6C4_HomeCrudUsers;User Id=DB_9EB6C4_HomeCrudUsers_admin;MultipleActiveResultSets=true;Password=musica59;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HomeConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=SQL5030.SmarterASP.NET;Initial Catalog=DB_9EB6C4_HomeCrudMain;User Id=DB_9EB6C4_HomeCrudMain_admin;MultipleActiveResultSets=true;Password=musica59;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>